body {
    font-family: Arial, sans-serif;
    line-height: 1.6;  /* */
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    color: #333;
}

header {
    background: mediumblue;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}
header table ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: mediumblue;
}

header table li {
    float: left;
}

header table li a {
    display: inline;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

main {
    margin:20px;
}
footer {
    background: blue;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: -ms-device-fixed;
    bottom: 0;
    width: 100%;
}

