body {
    font-family: Arial, sans-serif;
    line-height: 1.6;  /* */
    margin: 10px 10px;
    padding-top: 200px; /* Platz schaffen für den fixierten Header */
    padding-bottom: 70px; /* Platz schaffen für den fixierten Footer */
    background: #f4f4f4;
    color: #333;

}
main  {
    margin: 10px 10px 50px 10px;
    text-align: center;
    /*max-width: 1200px;*/
}
header {
    background: #578cc9;
    color: #ffffff;
    /*margin-bottom: 50px;*/
    padding: 1rem;
    text-align: center;
    font-family: 'Arima Madurai', cursive;
    width: 100%;
    position: fixed;
    top:0;
    z-index: 1000;  /*sorgt dafür, dass der header über anderen Inhalten bleibt*/
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header table{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    display: flex;
    align-items: center;
}
header img {
    height:150px;
}
header ul {
    /*flex-grow: 1;*/
    display: flex;
    justify-content: center;
}
/*.sticky-header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #fff;
}*/
.table th {
    position: sticky;
    top: 180px;
    z-index: 1; /* Ensures the header stays above the table content */
}
header table ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*background-color: mediumblue;*/
}
.filter {
    text-align: left;
    margin: 10px;
}
.filter-button, .search-button {
    background-color: #578cc9;
    color: white;
    padding: 3px 10px;
    margin-left: 35px;
    border-radius: 8px;
    border-width: 0;
}
.bildanpassen{
    width:150px;
    height:150px;
    margin:0;
}
.bildanpassenGal{
    width:400px;
    height:400px;
    margin: 0;
}
.vorschaubild1{
    width:100%;
    height:100%;
    object-fit:cover;
}
#vorschaubild{
    width:100%;
    height:100%;
    object-fit:cover;
}
#vorschaubild1{
    width:100%;
    height:100%;
    object-fit:cover;
}
#vorschaubild2{
    width:100%;
    height:100%;
    object-fit:cover;
}
#vorschaubild3{
    width:100%;
    height:100%;
    object-fit:cover;
}
#vorschaubild4{
    width:100%;
    height:100%;
    object-fit:cover;
}
#vorschaubild5{
    width:100%;
    height:100%;
    object-fit:cover;
}
#vorschaubild6{
    width:100%;
    height:100%;
    object-fit:cover;
}
#vorschaubild7{
    width:100%;
    height:100%;
    object-fit:cover;
}
#vorschaubild8{
    width:100%;
    height:100%;
    object-fit:cover;
}

header table li a {
    display: inline;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

main {
    margin:20px;
}
footer {
    background: #578cc9;
    color: #ffffff;
    text-align: center;
    /*padding: 10px 0:*/
    position: fixed;  /*fixiert den Footer am unteren Rand des Viewports.*/
    bottom: 0;
    margin-top: auto;
    width: 100%;
    font-family: 'Arima Madurai', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
}

#demo{
    width: 600px;
    height: 400px;
    margin: 0 auto;
       /* position: sticky;
        top: 245px;
        z-index: 1; !* Ensures the header stays above the table content *!*/
}

.carousel-inner>.carousel-item>img {
    margin: 0 auto;
    width:100%;
    height:100%;
    object-fit: cover;
}
#demo-index{
    width:100%;
    height:auto;
    margin: 0;
}

.main-header {
    font-size: 24px;
}
.second-header {
    font-size: 18px;
}
h2,h3 {
    font-family:  'Arima Madurai', cursive;
    line-height: 4;
    color: #578cc9;
}
#price-table th {
    color: #578cc9;
    width: 30%;
}