body {
    font-family: Arial, sans-serif;
    line-height: 1.6;  /* */
    margin: 0;
    padding-top: 250px; /* Platz schaffen für den fixierten Header */
    padding-bottom: 70px; /* Platz schaffen für den fixierten Footer */
    background: #f4f4f4;
    color: #333;
}

header {
    background: mediumblue;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
    font-family: 'Arima Madurai', cursive;
    position: fixed;
    top:0;
    z-index: 1000;  /*sorgt dafür, dass der Footer über anderen Inhalten bleibt*/
    display: flex;
    align-items: center;
}
/*.sticky-header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #fff;
}*/
.table th {
    position: sticky;
    top: 245px;
    z-index: 1; /* Ensures the header stays above the table content */
}
header table ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: mediumblue;
}

header table li {
    float: left;
}
.bildanpassen{
    width:150px;
    height:150px;
    margin:0;
}
.bildanpassenGal{
    width:400px;
    height:400px;
    margin: 0;
}
.vorschaubild1{
    width:100%;
    height:100%;
    object-fit:cover;
}
#vorschaubild{
    width:100%;
    height:100%;
    object-fit:cover;
}
#vorschaubild1{
    width:100%;
    height:100%;
    object-fit:cover;
}
#vorschaubild2{
    width:100%;
    height:100%;
    object-fit:cover;
}
#vorschaubild3{
    width:100%;
    height:100%;
    object-fit:cover;
}
#vorschaubild4{
    width:100%;
    height:100%;
    object-fit:cover;
}
#vorschaubild5{
    width:100%;
    height:100%;
    object-fit:cover;
}
#vorschaubild6{
    width:100%;
    height:100%;
    object-fit:cover;
}
#vorschaubild7{
    width:100%;
    height:100%;
    object-fit:cover;
}
#vorschaubild8{
    width:100%;
    height:100%;
    object-fit:cover;
}

header table li a {
    display: inline;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

main {
    margin:20px;
}
footer {
    background: blue;
    color: #ffffff;
    text-align: center;
    /*padding: 10px 0:*/
    position: fixed;  /*fixiert den Footer am unteren Rand des Viewports.*/
    bottom: 0;
    margin-top: auto;
    width: 100%;
    font-family: 'Arima Madurai', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
}

#demo{
    width: 600px;
    height: 400px;
    margin: 0 auto;
}

.carousel-inner>.carousel-item>img {
    margin: 0 auto;
    width:100%;
    height:100%;
    object-fit: cover;
}
#demo-index{
    width:100%;
    height:auto;
    margin: 0;
}

.main-header {
    font-size: 24px;
}
.second-header {
    font-size: 18px;
}
h2,h3 {
    font-family:  'Arima Madurai', cursive;
    line-height: 4;
    color: #578cc9;
}
#price-table th {
    color: #578cc9;
}