<!DOCTYPE html>
<html lang="de">
<head>
    <th:block th:replace="~{fragment/general::head}"></th:block>
    <title>Anfahrt - Ferienhaus Nordstrand</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <header>
        <h1><a href="#">Ferienhaus Nordstrand</a></h1>
        <nav>
            <ul>
                <li><a href="/homepage">Startseite</a></li>
                <li><a href="/galerie">Galerie</a></li>
                <li><a href="/contact">Kontakt</a></li>
                <li><a href="/directions">Anfahrt</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h2>Anfahrt</h2>
            <ul>
                <li>
                    <p>Die Schlüsselübergabe findet in unserem Büro in Mildstedt, Schulweg 4, statt.</p>
                </li>
                <li>
                    <p>Adresse: Ferienhaus Nordstrand, Schulweg 4, 28757 Mildstedt</p>
                </li>
                <li>
                    <p>Mit den Adler-Schiffen können Sie von Strucklahnungshörn (2 km) Ausflüge zu den Inseln und Halligen unternehmen.</p>
                </li>
                <li>
                 <p>Die schöne Stadt Husum mit dem idyllischen Hafen und der Einkaufsmeile ist nur ca. 15 km entfernt.</p>
                </li>
            </ul>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Ferienhaus Nordstrand</p>
    </footer>
</body>
</html>