<!DOCTYPE html>
<html lang="de">
<head>
    <th:block th:replace="~{fragment/general::head}"></th:block>
        <title>Galerie - Ferienhaus Nordstrand</title>
</head>
<body>
    <header th:replace="~{fragment/general::header}"></header>
    <main>
        <!-- Carousel -->
    <div id="demo" class="carousel slide" data-bs-ride="carousel">

    <!-- Indicators/dots -->
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
      <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
      <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
      <button type="button" data-bs-target="#demo" data-bs-slide-to="3"></button>
      <button type="button" data-bs-target="#demo" data-bs-slide-to="4"></button>
      <button type="button" data-bs-target="#demo" data-bs-slide-to="5"></button>
        
    </div>
    <!-- The slideshow/carousel -->
    <div class="carousel-inner">
      <div class="carousel-item active" >
        <img src="../images/large/ferienhaus-nordstrand-ausstattung-17.jpg" alt="Wohnzimmer" class="d-block" style="width:100%; height: 550px">
        <div class="bottomleft">Wohnzimmer</div>
      </div>
      <div class="carousel-item">
        <img src="../images/large/ferienhaus-nordstrand-ausstattung-16.jpg" alt="Schlafzimmer" class="d-block" style="width:100%; height: 550px">
        <div class="bottomleft">Schlafzimmer</div>
      </div>
      <div class="carousel-item">
        <img src="../images/large/ferienhaus-nordstrand-ausstattung-13.jpg" alt="Schlafzimmer-2" class="d-block" style="width:100%; height: 550px">
        <div class="bottomleft">Schlafzimmer-2</div>
      </div>
      <div class="carousel-item">
        <img src="../images/large/ferienhaus-nordstrand-ausstattung-14.jpg" alt="Küche" class="d-block" style="width:100%; height: 550px">
        <div class="bottomleft">Küche</div>
      </div>
      <div class="carousel-item">
        <img src="../images/large/ferienhaus-nordstrand-ausstattung-10.jpg" alt="Badezimmer" class="d-block" style="width:100%; height: 550px">
          <div class="bottomleft">Badezimmer</div>
      </div>
      <div class="carousel-item">
        <img src="../images/large/ferienhaus-nordstrand-ausstattung-18.jpg" alt="Umgebung" class="d-block" style="width:100%; height: 550px">
          <div class="bottomleft">Umgebung</div>

      </div>
    </div>
    <!-- Left and right controls/icons -->
    <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
      <span class="carousel-control-next-icon"></span>
    </button>
  </div>
  
        <section>   	
            <h2>Galerie</h2>
            <div class="gallery">
                <p><img src="../images/medium/ferienhaus-nordstrand-ausstattung-17.jpg" alt="Wohnzimmer"><br>Wohnzimmer</p>
                <p><img src="../images/medium/ferienhaus-nordstrand-ausstattung-16.jpg" alt="Schlafzimmer"><br>Schlafzimmer-Doppelbett</p>
                <p><img src="../images/medium/ferienhaus-nordstrand-ausstattung-13.jpg" alt="Schlafzimmer"><br>Schlafzimmer-2 Einzelbetten</p>
                <p><img src="../images/medium/ferienhaus-nordstrand-ausstattung-14.jpg" alt="Küche"><br>Küche</p>
                <p><img src="../images/medium/ferienhaus-nordstrand-ausstattung-10.jpg" alt="Badezimmer"><br>Badezimmer</p>
                <p><img src="../images/medium/ferienhaus-nordstrand-umgebung-19.jpg" alt="Umgebung"><br>Umgebung</p>
            </div>
        </section>
    </main>
    <footer th:replace="~{fragment/general::footer}"/>

</body>
</html>
