<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <th:block th:replace="~{fragment/general::head}"></th:block>
  <title>Homedetails - Ferienhäuser Nordstrand</title>

</head>
<body>
    <header th:replace="~{fragment/general::header}"></header>


    <!-- Carousel -->
    <div id="demo" class="carousel slide" data-bs-ride="carousel">

        <!-- Indicators/dots -->
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="3"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="4"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="5"></button>

        </div>
        <!-- The slideshow/carousel -->
        <div class="carousel-inner">
            <div class="carousel-item active" >
                <img src="../images/large/ferienhaus-nordstrand-ausstattung-17.jpg" alt="Wohnzimmer" class="d-block" style="width:100%; height: 550px">
                <div class="bottomleft">Wohnzimmer</div>
            </div>
            <div class="carousel-item">
                <img src="../images/large/ferienhaus-nordstrand-ausstattung-16.jpg" alt="Schlafzimmer" class="d-block" style="width:100%; height: 550px">
                <div class="bottomleft">Schlafzimmer</div>
            </div>
            <div class="carousel-item">
                <img src="../images/large/ferienhaus-nordstrand-ausstattung-13.jpg" alt="Schlafzimmer-2" class="d-block" style="width:100%; height: 550px">
                <div class="bottomleft">Schlafzimmer-2</div>
            </div>
            <div class="carousel-item">
                <img src="../images/large/ferienhaus-nordstrand-ausstattung-14.jpg" alt="Küche" class="d-block" style="width:100%; height: 550px">
                <div class="bottomleft">Küche</div>
            </div>
            <div class="carousel-item">
                <img src="../images/large/ferienhaus-nordstrand-ausstattung-10.jpg" alt="Badezimmer" class="d-block" style="width:100%; height: 550px">
                <div class="bottomleft">Badezimmer</div>
            </div>
            <div class="carousel-item">
                <img src="../images/large/ferienhaus-nordstrand-ausstattung-18.jpg" alt="Umgebung" class="d-block" style="width:100%; height: 550px">
                <div class="bottomleft">Umgebung</div>
            </div>
        </div>
        <!-- Left and right controls/icons -->
        <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
        </button>
    </div>

<!--    <img th:src="@{'images/holidayhomebilder/'+*{getImage()}}">-->
    <div th:object="${home}" class="container-fluid m-3" >
        <div class="row">
            <div class="col-lg-3 bg-warning text-blue">
                <p><strong>Name der Unterkunft</strong> </p>
               <p th:text="*{getAccommodationName()}"></p>
            </div>
            <div class="col-lg-3 bg-warning text-blue">
                <p><strong>Zimmer gesamt</strong></p>
                <p th:text="*{getNumberOfLivingrooms()+getNumberOfBedrooms()}"></p>
            </div>
            <div class="col-lg-3 bg-warning">
                <p><strong>Anzahl Schlafzimmer</strong> </p>
                <p th:text="${home.getNumberOfBedrooms()}"></p>
            </div>
            <div class="col-lg-3 bg-warning text-blue">
                <p><strong>Anzahl Wohnräume</strong></p>
                <p th:text="*{getNumberOfLivingrooms()}"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 bg-warning text-blue">
                <p><strong>stadt</strong></p>
                <p th:text="*{getCity()}"></p>
            </div>
            <div class="col-lg-3 bg-warning text-blue">
                <p><strong>Quadratmeter</strong></p>
                <p th:text="*{getArea()}"></p>
            </div><div class="col-lg-3 bg-warning text-blue">
                <p><strong>Anzahl Betten</strong></p>
                <p th:text="*{getNumberOfBeds()}"></p>
            </div><div class="col-lg-3 bg-warning text-blue">
                <p><strong>Küchenausstattung/Kü=Küche Kn=kochnische</strong></p>
                <p th:text="*{getKitchenType() }"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 bg-warning text-blue">
                <p><strong>Bad=B Dusche=D</strong></p>
                <p th:text="*{getShowerOrBathtub()}"></p>
            </div>
            <div class="col-lg-3 bg-warning text-blue">
                <p><strong>Nichtraucher</strong></p>
                <p th:text="*{isNonSmoker()}"></p>
            </div><div class="col-lg-3 bg-warning text-blue">
                <p><strong>Parkplatz</strong></p>
                <p th:text="*{isOnSiteParking()}"></p>
            </div><div class="col-lg-3 bg-warning text-blue">
                <p><strong>Waschmaschine</strong></p>
                <p th:text="*{isWashingMachine()}"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 bg-warning text-blue">
                <p><strong>WLAN</strong></p>
                <p th:text="*{isWlan()}"></p>
            </div>
            <div class="col-lg-3 bg-warning text-blue">
                <p><strong>Hunde erlaubt</strong></p>
                <p th:text="*{isDogsAllowed()}"></p>
            </div><div class="col-lg-3 bg-warning text-blue">
                <p><strong>TV</strong></p>
                <p th:text="*{isTv()}"></p>
            </div><div class="col-lg-3 bg-warning text-blue">
                <p><strong>Sauna</strong></p>
                <p th:text="*{isSauna()}"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 bg-warning text-blue">
                <p><strong>Beschreibung</strong></p>
                <p th:text="*{getDescription()}"></p>
            </div>
        </div>
        <div class="row">
           <div class="col-lg-3 bg-warning text-blue">
               <a th:href="@{delete(id=*{getIdAccommodation()})}" class="btn btn-danger">delete</a>
               <a th:href="@{edit(id=*{getIdAccommodation()})}" class="btn btn-danger">edit</a>
           </div>
            <div class="col-lg-9 bg-warning text-blue">
            </div>
        </div>

    </div>


    <footer th:replace="~{fragment/general::footer}"/>

</body>
</html>