<!DOCTYPE html>
<html lang="de">
<head>
    <th:block th:replace="~{fragment/general::head}"></th:block>
    <title>Kontakt - Ferienhäuser Nordstrand</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
        <header th:replace="~{fragment/general::header}"></header>
        <main>
            <section>
                <h2>Kontakt</h2>
                <form action="mailto:masudfaraj81@hotmail.com?subject=Betreff: 'Buchungsanfrage'" method="post">
                    <p><label for="name">Name:</label></p>
                    <input type="text" id="name" name="name" required>
                    <br>
                    <p><label for="email">Email:</label></p>
                    <input type="email" id="email" name="email" required>
                    <br>
                    <p><label for="message">Nachricht:</label></p>
                    <textarea id="message" name="message" rows="6" cols="70" required></textarea>
                    <br>
                    <button type="submit" class="btn btn-warning">senden</button>
                </form>
            </section>
        </main>
        <footer th:replace="~{fragment/general::footer}"/>

</body>
</html>
